- name: Testing Connections
  hosts: all
  tasks:
   - name: Ping my hosts
     ansible.builtin.ping:

   - name: Print message
     ansible.builtin.debug:
       msg: Hello world

- name: Install Jellyfin Server
  hosts: TestServer2
  roles:
    - ansible-jellyfin
  vars:
    jellyfin_name: "jellyfin-test"
    jellyfin_group: "somethinghere"
    jellyfin_skip_restart: false
    jellyfin_enable_fail2ban: false
    jellyfin_fail2ban_ports:
    - "80"
    - "443"
    jellyfin_fail2ban_maxretry: "3"
    jellyfin_fail2ban_bantime: "6000"
    jellyfin_fail2ban_findtime: "600"

    jellyfin_cache_dir: "/var/cache/jellyfin"
    jellyfin_log_dir: "/var/log/jellyfin"
    jellyfin_config_dir: "/etc/jellyfin"
    jellyfin_data_dir: "/var/lib/jellyfin"

    jellyfin_ffmpeg_bin: "/usr/lib/jellyfin-ffmpeg/ffmpeg"
    jellyfin_web_bin: "/usr/share/jellyfin/web"
  become: true