---
- name: Install requirements (Fedora)
  ansible.builtin.package:
    name:
      - dnf5-plugins
      - dnf-plugins-core
    state: present

- name: Enable Caddy repo
  community.general.copr:
    name: '@caddy/caddy'
    chroot: fedora-rawhide-{{ ansible_facts.architecture }}
    includepkgs:
      - caddy

- name: Install Caddy
  ansible.builtin.package:
    name:
      - caddy
    state: present