# SPDX-License-Identifier: MIT-0
---
# tasks file for ufw
- name: Install ufw
  ansible.builtin.package:
    name: ufw
    state: present
    update_cache: true
  become: true

- name: UFW - Allow SSH connections
  community.general.ufw:
    rule: allow
    port: 22
  become: true

- name: UFW - Allow SSH connections
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
  become: true
  with_items: "{{ ports }}"

- name: UFW - Enable and deny by default
  community.general.ufw:
    state: enabled
    default: deny
  become: true

- name: UFW - Reload firewall
  ansible.builtin.command: ufw reload
  become: true
  