# SPDX-License-Identifier: MIT-0
---
# tasks file for common
- name: Upgrade Packages
  ansible.builtin.package:
    name: "*"
    state: latest

- name: Autoremove Packages
  ansible.builtin.package:
    state: absent
    autoremove: yes
    
- name: Install the basics
  ansible.builtin.package:
    name:
      - sudo
      - net-tools
      - curl
      - ufw
      - htop
      - samba
      - unzip
      - zip
      - git
    state: latest

- name: Install Fedora specific packages
  ansible.builtin.package:
    name:
      - python3-libdnf5
      - gnupg2
      - libxml2-devel
      - libxslt-devel
      - gcc
      - python3-devel
    state: latest
  when: ansible_facts['os_family'] == "RedHat"


- name: Copy custom profile script
  ansible.builtin.copy:
    src: ./templates/motd.sh 
    dest: /etc/profile.d/motd.sh
    mode: '0644'